#chat{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15fr 1fr;
  grid-template-areas: 
  "f c"
  "f i";
}

#friends{
  grid-area: f;
  display: grid;
  background-color:rgb(145, 8, 145);
  
}

#chatbox{
  grid-area: c;
  display: grid;
}

#input{
  grid-area: i;
  display: grid;
}

#friends p {
  background-color: rgb(202, 122, 202);
  height: 5vh;
}

#chatbox p{
  background-color: grey;
}

#time {
  
}